text {}

@font-face {
  font-family: Hack;
  src: "/usr/share/fonts/TTF/Hack-Regular.ttf"
}

label {
  background: #154c79;
  border-radius: 20px;
  opacity: 70%;
  font-family: Hack;
}

box {
  background: #cc5500;
  border-radius: 20px;
  opacity: 70%;
  ;
}

window {
  border-radius: 20px;
  background: transparent;
}

box.main_box {
  background: transparent;
}
